.App {
    text-align: center;
}

.movie_list {
    border: solid;
}

.new_movie_form {
    border: solid;
    width: 75%;
    align-items: center;
}

.new-user-form {
    border: solid;
    text-align: center;
}

body {
    background-image: url('/home/tylerdira/Development/code/phase-3/phase-3-project/project-frontend/public/download.jpg');
}